body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

#welcome {
    height: 790px;
    width: 100%;
    background: linear-gradient(#ff59fc 0%, #0512ff 100%);
    display: table;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 9;
    padding-top: 100px;
}

.profile {
    border-radius: 150px;
    width: 200px;
}

.line {
    width: 100px;
    color: black;
    height: 7px;
    background-color: black;
    margin: 8px auto;
}

#about {
    width: 100%;
    height: 800px;
    background-color: #ffb0ee;
    padding-top: 100px;
}

#game {
    width: 100%;
    height: 800px;
    background-color: #ffb0ee;
}

#work {
    width: 100%;
    height: 800px;
    background-color: #ffb0ee;
}

#inpire {
    width: 100%;
    height: 800px;
    background-color: #ffb0ee;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.menu {
    list-style: none;
    position: fixed;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: white;
    z-index: 10;
}

.links {
    display: inline;
    float: left;
    padding: 8px;
    font-size: 15px;
}

a {
    display: block;
    padding: 8px;
    background-color: #ff006a;
    text-decoration: none;
}

li a:hover {
    background-color: #ad0a0d;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

.icon h3 {
    display: inline;
}

p {
    font-family: 'Cookie', cursive;
    font-size: 25px;
}

h2 {
    font-size: 40px;
    font-family: 'Langar', cursive;
}

#name {
    font-family: 'Kaushan Script', cursive;
}
